themes {
    matugen-theme {
        bg "{{ colors.secondary_container.default.hex }}" // Surface2
        fg "{{ colors.on_secondary_container.default.hex }}" // Text
        red "#f38ba8"
        green "{{ colors.tertiary.default.hex }}" // tab bg & frame highlight
        blue "#89b4fa"
        yellow "#f9e2af"
        magenta "#f5c2e7" // Pink
        orange "#fab387" // Peach
        cyan "#89dceb" // Sky
        black "{{ colors.secondary_container.default.hex }}" // Mantle
        white "{{ colors.on_secondary_container.default.hex }}" // Text
    }
}
