default_shell "nu"
default_mode "locked"
default_layout "default"
simplified_ui true

show_startup_tips false
show_release_notes false

scrollback_editor "hx"

copy_command "wl-copy"
copy_clipboard "primary"
copy_on_select true

mouse_mode true

pane_frames false

ui {
    pane_frames {
        rounded_corners true
    }
}

keybinds {
    locked {
        // create or close
        bind "Alt m" { ToggleFloatingPanes; }
        bind "Alt c" { NewPane; }
        bind "Alt x" { CloseFocus; }

        // movement
        bind "Alt h" "Alt Left"  { MoveFocusOrTab "Left"; }
        bind "Alt l" "Alt Right" { MoveFocusOrTab "Right"; }
        bind "Alt j" "Alt Down"  { MoveFocus "Down"; }
        bind "Alt k" "Alt Up"    { MoveFocus "Up"; }

        bind "Alt [" { GoToPreviousTab; }
        bind "Alt ]" { GoToNextTab; }

        bind "Alt 1" { GoToTab 1; }
        bind "Alt 2" { GoToTab 2; }
        bind "Alt 3" { GoToTab 3; }
        bind "Alt 4" { GoToTab 4; }
        bind "Alt 5" { GoToTab 5; }
        bind "Alt 6" { GoToTab 6; }
        bind "Alt 7" { GoToTab 7; }
        bind "Alt 8" { GoToTab 8; }
        bind "Alt t" { NewTab; }
        // toggletab doesn't work in locked mode. 
        // bind "Ctrl Tab" { ToggleTab; }
        

        // resize or change layout
        bind "Alt =" { Resize "Increase"; }
        bind "Alt -" { Resize "Decrease"; }
        bind "Alt 9" { PreviousSwapLayout; }
        bind "Alt 0" { NextSwapLayout; }
        bind "Alt Ctrl h" "Alt Ctrl Left"  { Resize "Increase Left"; }
        bind "Alt Ctrl j" "Alt Ctrl Down"  { Resize "Increase Down"; }
        bind "Alt Ctrl k" "Alt Ctrl Up"    { Resize "Increase Up"; }
        bind "Alt Ctrl l" "Alt Ctrl Right" { Resize "Increase Right"; }
        bind "Alt F11" { ToggleFocusFullscreen;  }

        // adjust position
        bind "Alt Shift h" "Alt Shift Left"  { MovePane "Left"; }
        bind "Alt Shift j" "Alt Shift Down"  { MovePane "Down"; }
        bind "Alt Shift k" "Alt Shift Up"    { MovePane "Up"; }
        bind "Alt Shift l" "Alt Shift Right" { MovePane "Right"; }

        // scroll
        bind "Ctrl ," "Ctrl Up"   { ScrollUp; }
        bind "Ctrl ." "Ctrl Down" { ScrollDown; }
        bind "PageDown" { PageScrollDown; }
        bind "PageUp"   { PageScrollUp; }
        bind "Alt d" { HalfPageScrollDown; }
        bind "Alt u" { HalfPageScrollUp; }

        // search mode
        bind "Alt s" { SwitchToMode "EnterSearch"; SearchInput 0; }
    }

    search {
        bind "Ctrl s" { SwitchToMode "EnterSearch"; SearchInput 0; }
        bind "Alt s"  { SwitchToMode "EnterSearch"; SearchInput 0; }
    }

    shared_except "locked" {
        // same as "Ctrl g"
        bind "Ctrl c" { SwitchToMode "Locked"; }

        // create or close
        bind "Alt m" { ToggleFloatingPanes; }
        bind "Alt c" { NewPane; }
        bind "Alt x" { CloseFocus; }

        // movement
        bind "Alt h" "Alt Left"  { MoveFocusOrTab "Left"; }
        bind "Alt l" "Alt Right" { MoveFocusOrTab "Right"; }
        bind "Alt j" "Alt Down"  { MoveFocus "Down"; }
        bind "Alt k" "Alt Up"    { MoveFocus "Up"; }

        bind "Alt [" { GoToPreviousTab; }
        bind "Alt ]" { GoToNextTab; }

        bind "Alt 1" { GoToTab 1; }
        bind "Alt 2" { GoToTab 2; }
        bind "Alt 3" { GoToTab 3; }
        bind "Alt 4" { GoToTab 4; }
        bind "Alt 5" { GoToTab 5; }
        bind "Alt 6" { GoToTab 6; }
        bind "Alt 7" { GoToTab 7; }
        bind "Alt 8" { GoToTab 8; }
        bind "Alt t" { NewTab; }
        // toggletab doesn't work in locked mode. 
        // bind "Ctrl Tab" { ToggleTab; }
        
        // resize or change layout
        bind "Alt =" { Resize "Increase"; }
        bind "Alt -" { Resize "Decrease"; }
        bind "Alt 9" { PreviousSwapLayout; }
        bind "Alt 0" { NextSwapLayout; }
        bind "Alt Ctrl h" "Alt Ctrl Left"  { Resize "Increase Left"; }
        bind "Alt Ctrl j" "Alt Ctrl Down"  { Resize "Increase Down"; }
        bind "Alt Ctrl k" "Alt Ctrl Up"    { Resize "Increase Up"; }
        bind "Alt Ctrl l" "Alt Ctrl Right" { Resize "Increase Right"; }
        bind "Alt F11" { ToggleFocusFullscreen; }

        // adjust position
        bind "Alt Shift h" "Alt Shift Left"  { MovePane "Left"; }
        bind "Alt Shift j" "Alt Shift Down"  { MovePane "Down"; }
        bind "Alt Shift k" "Alt Shift Up"    { MovePane "Up"; }
        bind "Alt Shift l" "Alt Shift Right" { MovePane "Right"; }
        // bind "Alt i" { MoveTab "Left"; }
        // bind "Alt o" { MoveTab "Right"; }

        // scroll
        bind "Ctrl Down" { ScrollDown; }
        bind "Ctrl Up"   { ScrollUp; }
        bind "PageDown" { PageScrollDown; }
        bind "PageUp"   { PageScrollUp; }
        bind "Alt d" { HalfPageScrollDown; }
        bind "Alt u" { HalfPageScrollUp; }

        // disabled default keybindings
        bind "Alt f" { } // float panel
    }
}

// Plugin aliases - can be used to change the implementation of Zellij
// changing these requires a restart to take effect
plugins {
    tab-bar location="zellij:tab-bar"
    status-bar location="zellij:status-bar"
    strider location="zellij:strider"
    compact-bar location="zellij:compact-bar"
    session-manager location="zellij:session-manager"
    welcome-screen location="zellij:session-manager" {
        welcome_screen true
    }
    filepicker location="zellij:strider" {
        cwd "/"
    }
    configuration location="zellij:configuration"
    plugin-manager location="zellij:plugin-manager"
}

// Plugins to load in the background when a new session starts
load_plugins {
    // "file:/path/to/my-plugin.wasm"
    // "https://example.com/my-plugin.wasm"
    zjpane location="file:~/.config/zellij/plugins/zjpane.wasm"
}


theme "matugen-theme"

