
swap_tiled_layout name="sidebar_and_editor" {
	workspace min_panes=1 {
	    pane split_direction="vertical" {
	    	pane name="sidebar" {
	            command "env"
	            args "yazi"
	            size "30%"
	    	}

	    	pane name="editor"
	   //  	pane stacked=true {
				// children;
	   //  	}
		}
	}
}

// swap_floating_layout name="float_pane" {
// 	workspace min_panes=1 {
// 		floating_panes stacked=true {
// 	    	pane {
// 		    	x "5%"
// 		    	y "5%"
// 		    	width "90%"
// 		    	height "90%"
// 	    	}
// 		}
// 	}
// }
